/* public/css/newCargo.css */
body {
    background-color: #F8F9FA;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  main {
    background-color: #fff;
    max-width: 400px;
    margin: 2rem auto;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  h1 {
    font-size: 1.8em;
    margin-bottom: 20px;
    color: #0D6EFD;
  }
  
  .form-group {
    margin-bottom: 1rem;
    text-align: left;
  }
  
  label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 0.75rem 0 0.75rem 0.20rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px;
    margin-top: 15px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #218838;
  }
  
  .error {
    color: red;
    font-size: 0.9em;
    margin-top: 10px;
    text-align: center;
  }
  