<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/changePassword.css">
  <link rel="stylesheet" href="/css/header-footer.css">
</head>
<body>
  <%- include('../partials/header') %>
  
  <main>
    <h1>Cambiar Contraseña</h1>
    <% if (error) { %>
      <p class="error"><%= error %></p>
    <% } %>
    <form action="/empresa/changePassword" method="POST">
      <label for="newPassword">Nueva Contraseña:</label>
      <input type="password" name="newPassword" id="newPassword" required>
      <button type="submit">Actualizar Contraseña</button>
    </form>
  </main>
  
  <%- include('../partials/footer') %>
</body>
</html>
