<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inicio</title>
  <link rel="stylesheet" href="css/index.css">
  <link rel="stylesheet" href="css/header-footer.css">
</head>
<body>

  <%- include('../partials/header') %>

<main>
  <h1>Bienvenido a Mi Sitio Web</h1>
  <p>Esta es la página de inicio.</p>
  <% if (user) { %>
    <p>Hola, <%= user.username %>!</p>
  <% } else { %>
    <p>Por favor, <a href="/login">inicia sesión</a> para continuar.</p>
  <% } %>
</main>

<%- include('../partials/footer') %>

</body>
</html>